$fontSize: 24rpx;

.container {
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: #eee;
  padding: 10rpx 0;
  .header {
    height: 80rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    font-size: $fontSize;
    font-weight: bold;
    padding: 0 20rpx;
  }
  .items {
    .item {
      height: 100%;
      border-radius: 10rpx;
      background-color: white;
      margin: 20rpx 30rpx;
      color: #000;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
      padding: 10rpx 20rpx;
      font-size: $fontSize;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;

      .itemUpContent {
        height: 60rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .at-divider {
        margin: 10rpx 0;
        height: 1rpx;
      }

      .itemCenterContent {
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20rpx 0;
        .itemCenterContentItem,
        .TagBox {
          height: 80rpx;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          flex-direction: column;
        }
        .fileds {
          width: 180rpx;
          font-weight: bold;
          text {
            width: 80rpx;
            color: #616367;
          }
        }
        .status_wxs,
        .status_wwc,
        .status_yjs {
          color: #fff;
          background-color: #6190e8;
          padding: 4rpx 8rpx;
          border-radius: 6rpx;
        }
        .status_wwc {
          background-color: #da3026;
        }
        .status_yjs {
          background-color: #50a14f;
        }

        .TagBox {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}
