.container {
  // width: 100%;
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .header {
    background: url("./userBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vh;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .LeftTx {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid lightblue;
      }
      .RightWz {
        width: 300px;
        height: 100px;
        border: 1px solid lightgray;
        margin-left: 40px;
      }
    }
  }
}
