$fontSize: 24rpx;

.container {
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: #eee;
  padding: 10rpx 0;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $fontSize;
    font-weight: bold;
    padding: 0 20rpx;
    .at-button {
      margin-top: 10rpx;
    }
  }
  .items {
    .item {
      height: 200rpx;
      border-radius: 10rpx;
      background-color: white;
      margin: 20rpx 20rpx;
      color: #000;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
      padding: 10rpx 20rpx;
      font-size: $fontSize;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .itemUpContent {
        position: relative;
        .itemUpContentItem {
          height: 60rpx;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .fileds {
            width: 180rpx;
            font-weight: bold;
            text {
              width: 80rpx;
              color: #616367;
            }
          }
        }
        .status_wxs,
        .status_wwc,
        .status_yjs {
          position: absolute;
          top: 15rpx;
          right: 4rpx;
          color: #fff;
          background-color: #6190e8;
          padding: 4rpx 8rpx;
          border-radius: 6rpx;
        }
        .status_wwc {
          background-color: #da3026;
        }
        .status_yjs {
          background-color: #50a14f;
        }
      }
      .itemDownContent {
        height: 60rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .downWrapper {
          margin-left: 100rpx;

          text {
            font-weight: bold;
            color: #616367;
          }
        }
      }
      .at-divider {
        height: 10rpx;
      }
    }
  }
}
