$fontSize: 24rpx;

.container {
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: #eee;
  padding: 10rpx 0;
  .header {
    height: 80rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $fontSize;
    font-weight: bold;
    padding: 0 20rpx;
  }
  .items {
    padding-bottom: 100rpx;
    .item {
      height: 140rpx;
      border-radius: 10rpx;
      background-color: white;
      margin: 20rpx 30rpx;
      color: #000;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20rpx;
      font-weight: bold;
      font-size: $fontSize;
    }
  }
}
.at-tab-bar {
  min-height: 70rpx;
  line-height: 70rpx;
}
